.PlanBack_53 {
    -webkit-animation: PlanBack_53 0.7s linear;
    -webkit-animation-fill-mode: both;
    background-image: url('../images/plan2.png');
}

@-webkit-keyframes PlanBack_53 {
    0% {
        left: 2.05555rem;
        top: 6.94444rem;
    }

    100% {
        left: 2.05555rem;
        top: 6.05555rem;
    }
}

.PlanBack_52 {
    -webkit-animation: PlanBack_52 0.7s linear;
    -webkit-animation-fill-mode: both;
    background-image: url('../images/plan2.png');
}

@-webkit-keyframes PlanBack_52 {
    0% {
        left: 2.05555rem;
        top: 6.05555rem;
    }

    100% {
        left: 2.05555rem;
        top: 5.27777rem;
    }
}

.PlanBack_51 {
    -webkit-animation: PlanBack_51 0.7s linear;
    -webkit-animation-fill-mode: both;
    background-image: url('../images/plan2.png');
}

@-webkit-keyframes PlanBack_51 {
    0% {
        left: 2.05555rem;
        top: 5.27777rem;
    }

    100% {
        left: 2.05555rem;
        top: 4.44444rem;
    }
}

.PlanBack_50 {
    -webkit-animation: PlanBack_50 0.7s linear;
    -webkit-animation-fill-mode: both;
    background-image: url('../images/plan2.png');
}

@-webkit-keyframes PlanBack_50 {
    0% {
        left: 2.05555rem;
        top: 4.44444rem;
    }

    100% {
        left: 2.05555rem;
        top: 3.63888rem;
    }
}

.PlanBack_49 {
    -webkit-animation: PlanBack_49 0.7s linear;
    -webkit-animation-fill-mode: both;
    background-image: url('../images/plan.png');
}

@-webkit-keyframes PlanBack_49 {
    0% {
        left: 2.05555rem;
        top: 3.63888rem;
    }

    100% {
        left: 2.05555rem;
        top: 2.83333rem;
    }
}

.PlanBackRotate_48 {
    left: 2.83333rem;
    top: 2.83333rem;
    background-image: url('../images/plan2.png');
}

.PlanBack_48 {
    -webkit-animation: PlanBack_48 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_48 {
    0% {
        left: 2.05555rem;
        top: 2.83333rem;
    }

    100% {
        left: 2.83333rem;
        top: 2.83333rem;
    }
}

.PlanBack_47 {
    -webkit-animation: PlanBack_47 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_47 {
    0% {
        left: 2.83333rem;
        top: 2.83333rem;
    }

    100% {
        left: 3.63888rem;
        top: 2.83333rem;
    }
}

.PlanBack_46 {
    -webkit-animation: PlanBack_46 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_46 {
    0% {
        left: 3.63888rem;
        top: 2.83333rem;
    }

    100% {
        left: 3.63888rem;
        top: 3.63888rem;
    }
}

.PlanBackRotate_46 {
    left: 3.63888rem;
    top: 3.63888rem;
    background-image: url('../images/plan2.png');
}


.PlanBack_45 {
    -webkit-animation: PlanBack_45 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_45 {
    0% {
        left: 3.63888rem;
        top: 3.63888rem;
    }

    100% {
        left: 3.63888rem;
        top: 4.44444rem;
    }
}

.PlanBack_44 {
    -webkit-animation: PlanBack_44 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_44 {
    0% {
        left: 3.63888rem;
        top: 4.44444rem;
    }

    100% {
        left: 3.63888rem;
        top: 5.27777rem;
    }
}

.PlanBack_43 {
    -webkit-animation: PlanBack_43 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_43 {
    0% {
        left: 3.63888rem;
        top: 5.27777rem;
    }

    100% {
        left: 4.5rem;
        top: 5.27777rem;
    }
}

.PlanBack_42 {
    -webkit-animation: PlanBack_42 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_42 {
    0% {
        left: 4.5rem;
        top: 5.27777rem;
    }

    100% {
        left: 5.27777rem;
        top: 5.27777rem;
    }
}

.PlanBack_41 {
    -webkit-animation: PlanBack_41 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_41 {
    0% {
        left: 5.27777rem;
        top: 5.27777rem;
    }

    100% {
        left: 5.27777rem;
        top: 4.44444rem;
    }
}

.PlanBack_40 {
    -webkit-animation: PlanBack_40 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_40 {
    0% {
        left: 5.27777rem;
        top: 4.44444rem;
    }

    100% {
        left: 5.27777rem;
        top: 3.63888rem;
    }
}

.PlanBackRotate_40 {
    left: 5.27777rem;
    top: 3.63888rem;
    background-image: url('../images/plan2.png');
}

.PlanBack_39 {
    -webkit-animation: PlanBack_39 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_39 {
    0% {
        left: 5.27777rem;
        top: 3.63888rem;
    }

    100% {
        left: 5.27777rem;
        top: 2.83333rem;
    }
}

.PlanBack_38 {
    -webkit-animation: PlanBack_38 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_38 {
    0% {
        left: 5.27777rem;
        top: 2.83333rem;
    }

    100% {
        left: 5.27777rem;
        top: 2rem;
    }
}

.PlanBack_37 {
    -webkit-animation: PlanBack_37 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_37 {
    0% {
        left: 5.27777rem;
        top: 2rem;
    }

    100% {
        left: 6.13888rem;
        top: 2rem;
    }
}

.PlanBackRotate_37 {
    left: 6.13888rem;
    top: 2rem;
    background-image: url('../images/plan2.png');
}

.PlanBack_36 {
    -webkit-animation: PlanBack_36 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_36 {
    0% {
        left: 6.13888rem;
        top: 2rem;
    }

    100% {
        left: 6.94444rem;
        top: 2rem;
    }
}

.PlanBack_35 {
    -webkit-animation: PlanBack_35 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_35 {
    0% {
        left: 6.94444rem;
        top: 2rem;
    }

    100% {
        left: 6.94444rem;
        top: 2.83333rem;
    }
}

.PlanBack_34 {
    -webkit-animation: PlanBack_34 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_34 {
    0% {
        left: 6.94444rem;
        top: 2.83333rem;
    }

    100% {
        left: 6.94444rem;
        top: 3.638888rem;
    }
}

.PlanBackRotate_34 {
    left: 6.94444rem;
    top: 3.638888rem;
    background-image: url('../images/plan2.png');
}

.PlanBack_33 {
    -webkit-animation: PlanBack_33 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_33 {
    0% {
        left: 6.94444rem;
        top: 3.638888rem;
    }

    100% {
        left: 6.94444rem;
        top: 4.44444rem;
    }
}

.PlanBack_32 {
    -webkit-animation: PlanBack_32 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_32 {
    0% {
        left: 6.94444rem;
        top: 4.44444rem;
    }

    100% {
        left: 6.94444rem;
        top: 5.27777rem;
    }
}

.PlanBack_31 {
    -webkit-animation: PlanBack_31 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_31 {
    0% {
        left: 6.94444rem;
        top: 5.27777rem;
    }

    100% {
        left: 7.05554rem;
        top: 6.13888rem;
    }
}

.PlanBack_30 {
    -webkit-animation: PlanBack_30 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_30 {
    0% {
        left: 7.05554rem;
        top: 6.13888rem;
    }

    100% {
        left: 7.80555rem;
        top: 6.13888rem;
    }
}

.PlanBack_29 {
    -webkit-animation: PlanBack_29 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_29 {
    0% {
        left: 7.80555rem;
        top: 6.13888rem;
    }

    100% {
        left: 8.61111rem;
        top: 6.13888rem;
    }
}

.PlanBackRotate_29 {
    left: 8.61111rem;
    top: 6.13888rem;
    background-image: url(../images/plan2.png);
}

.PlanBack_28 {
    -webkit-animation: PlanBack_28 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_28 {
    0% {
        left: 8.61111rem;
        top: 6.13888rem;
    }

    100% {
        left: 8.61111rem;
        top: 5.27777rem;
    }
}

.PlanBack_27 {
    -webkit-animation: PlanBack_27 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_27 {
    0% {
        left: 8.61111rem;
        top: 5.27777rem;
    }

    100% {
        left: 8.61111rem;
        top: 4.44444rem;
    }
}

.PlanBack_26 {
    -webkit-animation: PlanBack_26 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_26 {
    0% {
        left: 8.61111rem;
        top: 4.44444rem;
    }

    100% {
        left: 8.61111rem;
        top: 3.63888rem;
    }
}

.PlanBackRotate_26 {
    left: 8.61111rem;
    top: 3.63888rem;
    background-image: url('../images/plan2.png');
}

.PlanBack_25 {
    -webkit-animation: PlanBack_25 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_25 {
    0% {
        left: 8.61111rem;
        top: 3.63888rem;
    }

    100% {
        left: 9.44444rem;
        top: 3.63888rem;
    }
}

.PlanBack_24 {
    -webkit-animation: PlanBack_24 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_24 {
    0% {
        left: 9.44444rem;
        top: 3.63888rem;
    }

    100% {
        left: 10.27777rem;
        top: 3.63888rem;
    }
}

.PlanBack_23 {
    -webkit-animation: PlanBack_23 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_23 {
    0% {
        left: 10.27777rem;
        top: 3.63888rem;
    }

    100% {
        left: 10.27777rem;
        top: 4.44444rem;
    }
}

.PlanBackRotate_23 {
    left: 10.27777rem;
    top: 4.44444rem;
    background-image: url('../images/plan2.png');
}

.PlanBack_22 {
    -webkit-animation: PlanBack_22 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_22 {
    0% {
        left: 10.27777rem;
        top: 4.44444rem;
    }

    100% {
        left: 10.27777rem;
        top: 5.27777rem;
    }
}

.PlanBack_21 {
    -webkit-animation: PlanBack_21 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_21 {
    0% {
        left: 10.27777rem;
        top: 5.27777rem;
    }

    100% {
        left: 10.27777rem;
        top: 6.13888rem;
    }
}

.PlanBack_20 {
    -webkit-animation: PlanBack_20 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_20 {
    0% {
        left: 10.27777rem;
        top: 6.13888rem;
    }

    100% {
        left: 10.27777rem;
        top: 6.94444rem;
    }
}

.PlanBack_19 {
    -webkit-animation: PlanBack_19 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_19 {
    0% {
        left: 10.27777rem;
        top: 6.94444rem;
    }

    100% {
        left: 10.27777rem;
        top: 7.80555rem;
    }
}

.PlanBack_18 {
    -webkit-animation: PlanBack_18 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_18 {
    0% {
        left: 10.27777rem;
        top: 7.80555rem;
    }

    100% {
        left: 10.27777rem;
        top: 8.61111rem;
    }
}

.PlanBackRotate_18 {
    left: 10.27777rem;
    top: 8.61111rem;
    background-image: url('../images/plan2.png');
}

.PlanBack_17 {
    -webkit-animation: PlanBack_17 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_17 {
    0% {
        left: 10.27777rem;
        top: 8.61111rem;
    }

    100% {
        left: 11.11111rem;
        top: 8.61111rem;
    }
}

.PlanBack_16 {
    -webkit-animation: PlanBack_16 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_16 {
    0% {
        left: 11.11111rem;
        top: 8.61111rem;
    }

    100% {
        left: 11.88888rem;
        top: 8.61111rem;
    }
}

.PlanBack_15 {
    -webkit-animation: PlanBack_15 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_15 {
    0% {
        left: 11.88888rem;
        top: 8.61111rem;
    }

    100% {
        left: 11.88888rem;
        top: 7.80555rem;
    }
}

.PlanBackRotate_15 {
    left: 11.88888rem;
    top: 7.80555rem;
    background-image: url('../images/plan2.png');
}

.PlanBack_14 {
    -webkit-animation: PlanBack_14 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_14 {
    0% {
        left: 11.88888rem;
        top: 7.80555rem;
    }

    100% {
        left: 11.88888rem;
        top: 6.94444rem;
    }
}

.PlanBack_13 {
    -webkit-animation: PlanBack_13 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_13 {
    0% {
        left: 11.88888rem;
        top: 6.94444rem;
    }

    100% {
        left: 11.88888rem;
        top: 6.13888rem;
    }
}

.PlanBack_12 {
    -webkit-animation: PlanBack_12 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_12 {
    0% {
        left: 11.88888rem;
        top: 6.13888rem;
    }

    100% {
        left: 11.88888rem;
        top: 5.27777rem;
    }
}

.PlanBack_11 {
    -webkit-animation: PlanBack_11 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_11 {
    0% {
        left: 11.88888rem;
        top: 5.27777rem;
    }

    100% {
        left: 11.88888rem;
        top: 4.44444rem;
    }
}

.PlanBackRotate_11 {
    left: 11.88888rem;
    top: 4.44444rem;
    background-image: url('../images/plan2.png');
}

.PlanBack_10 {
    -webkit-animation: PlanBack_10 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_10 {
    0% {
        left: 11.88888rem;
        top: 4.44444rem;
    }

    100% {
        left: 12.69444rem;
        top: 4.44444rem;
    }
}

.PlanBack_9 {
    -webkit-animation: PlanBack_9 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_9 {
    0% {
        left: 12.69444rem;
        top: 4.44444rem;
    }

    100% {
        left: 13.52777rem;
        top: 4.44444rem;
    }
}

.PlanBack_8 {
    -webkit-animation: PlanBack_8 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_8 {
    0% {
        left: 13.52777rem;
        top: 4.44444rem;
    }

    100% {
        left: 14.41665rem;
        top: 4.44444rem;
    }
}

.PlanBackRotate_8 {
    left: 14.41665rem;
    top: 4.44444rem;
    background-image: url('../images/plan2.png');
}

.PlanBack_7 {
    -webkit-animation: PlanBack_7 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_7 {
    0% {
        left: 14.41665rem;
        top: 4.44444rem;
    }

    100% {
        left: 14.41665rem;
        top: 3.66666rem;
    }
}

.PlanBack_6 {
    -webkit-animation: PlanBack_6 0.7s linear;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes PlanBack_6 {
    0% {
        left: 14.41665rem;
        top: 3.66666rem;
    }

    100% {
        left: 14.41665rem;
        top: 2.83333rem;
    }
}

.PlanBack_5 {
    -webkit-animation: PlanBack_5 0.7s linear;
    -webkit-animation-fill-mode: both;
    background-image: url('../images/plan2.png');
}

@-webkit-keyframes PlanBack_5 {
    0% {
        left: 14.41665rem;
        top: 2.83333rem;
    }

    100% {
        left: 14.41665rem;
        top: 2rem;
    }
}

.PlanBackRotate_5 {
    left: 14.41665rem;
    top: 2rem;
}

.PlanBack_4 {
    -webkit-animation: PlanBack_4 0.7s linear;
    -webkit-animation-fill-mode: both;
    background-image: url('../images/plan2.png');
}

@-webkit-keyframes PlanBack_4 {
    0% {
        left: 14.41665rem;
        top: 2rem;
    }

    100% {
        left: 13.58332rem;
        top: 2rem;
    }
}

.PlanBack_3 {
    -webkit-animation: PlanBack_3 0.7s linear;
    -webkit-animation-fill-mode: both;
    background-image: url('../images/plan2.png');
}

@-webkit-keyframes PlanBack_3 {
    0% {
        left: 13.58332rem;
        top: 2rem;
    }

    100% {
        left: 12.74999rem;
        top: 2rem;
    }
}

.PlanBack_2 {
    -webkit-animation: PlanBack_2 0.7s linear;
    -webkit-animation-fill-mode: both;
    background-image: url('../images/plan2.png');
}

@-webkit-keyframes PlanBack_2 {
    0% {
        left: 12.74999rem;
        top: 2rem;
    }

    100% {
        left: 11.91666rem;
        top: 2rem;
    }
}

.PlanBackRotate_2 {
    left: 11.91666rem;
    top: 2rem;
    background-image: url('../images/plan2.png');
}

.PlanBack_1 {
    -webkit-animation: PlanBack_1 0.7s linear;
    -webkit-animation-fill-mode: both;
    background-image: url('../images/plan2.png');
}

@-webkit-keyframes PlanBack_1 {
    0% {
        left: 11.91666rem;
        top: 2rem;
    }

    100% {
        left: 11.08333rem;
        top: 2rem;
    }
}
